<h1 *ngIf="!editState">New Order</h1>
<h1 *ngIf="editState">Edit Order #{{ customer?.orderId }}</h1>
<mat-divider></mat-divider>
<br />
<form [formGroup]="orderForm" (ngSubmit)="onSubmit()">
  <div class="row">
    <div class="col-4">
      <mat-form-field id="username" style="width: 100%">
        <mat-label>Order Id</mat-label>
        <input matInput formControlName="orderId" autocomplete="off" />
      </mat-form-field>
    </div>
    <div class="col-4">
      <mat-form-field id="username" style="width: 100%">
        <mat-label>Order Status</mat-label>
        <input matInput formControlName="orderStatus" autocomplete="off" />
      </mat-form-field>
    </div>
    <div class="col-4">
      <mat-form-field id="username" style="width: 100%">
        <mat-label>Order Date</mat-label>
        <input matInput formControlName="orderDate" autocomplete="off" />
      </mat-form-field>
    </div>
  </div>
  <!-- <div class="row">
    <mat-form-field id="storeId" style="width: 100%">
      <mat-label>Order Date</mat-label>
      <input matInput formControlName="orderDate" autocomplete="off" />
    </mat-form-field>
  </div> -->
  <br />

  <!-- Items Array -->
  <div formArrayName="orderItems">
    <div
      class="row"
      *ngFor="let orderItem of orderItems.controls; let i = index"
      [formGroupName]="i"
    >
      <div class="col-3">
        <mat-form-field style="width: 100%">
          <mat-label>Item</mat-label>
          <input matInput formControlName="item" autocomplete="off" />
        </mat-form-field>
      </div>
      <div class="col-3">
        <mat-form-field style="width: 100%">
          <mat-label>Quantity</mat-label>
          <input matInput formControlName="quantity" autocomplete="off" />
        </mat-form-field>
      </div>
      <div class="col-3">
        <mat-form-field style="width: 100%">
          <mat-label>Price</mat-label>
          <input matInput formControlName="price" autocomplete="off" />
        </mat-form-field>
      </div>
      <div class="col-3">
        <div class="row">
          <div class="col-6">
            <a
              (click)="addOrderItem()"
              *ngIf="orderItems.controls.length - 1 == i"
              ><i class="fas fa-plus" style="color: green; cursor: pointer"></i
            ></a>
          </div>
          <div class="col-6">
            <a
              (click)="deleteOrderItem(i)"
              *ngIf="orderItems.controls.length > 1"
              ><i class="fas fa-minus" style="color: red; cursor: pointer"></i
            ></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br />
  <button mat-raised-button color="accent" *ngIf="!editState">
    Add New Order
  </button>
  <button mat-raised-button color="accent" *ngIf="editState">
    Update Order
  </button>
</form>
