<div class="text-center"><h1>Customers</h1></div>
<form [formGroup]="customerForm" (ngSubmit)="onSubmit()">
  <div class="container-fluid">
    <div formArrayName="customers">
      <div
        class="row text-center"
        *ngFor="let customer of customers.controls; let i = index"
        formGroupName="{{ i }}"
      >
        <div class="col-2"></div>
        <div class="col-8">
          <mat-accordion>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Customer Id:
                  {{ customer.value.customerId }} &nbsp;&nbsp;&nbsp;
                  {{ customer.value.firstName }} {{ customer.value.lastName }}
                </mat-panel-title>
                <mat-panel-description> </mat-panel-description>
              </mat-expansion-panel-header>
              <div class="row text-left">
                <div class="col-3">
                  <mat-form-field style="width: 100%">
                    <mat-label>Id</mat-label>
                    <input matInput formControlName="id" autocomplete="off" />
                  </mat-form-field>
                </div>
                <div class="col-3">
                  <mat-form-field style="width: 100%">
                    <mat-label>Customer Id</mat-label>
                    <input
                      matInput
                      formControlName="customerId"
                      autocomplete="off"
                    />
                  </mat-form-field>
                </div>
                <div class="col-3">
                  <mat-form-field style="width: 100%">
                    <mat-label>First Name</mat-label>
                    <input
                      matInput
                      formControlName="firstName"
                      autocomplete="off"
                    />
                  </mat-form-field>
                </div>
                <div class="col-3">
                  <mat-form-field style="width: 100%">
                    <mat-label>Last Name</mat-label>
                    <input
                      matInput
                      formControlName="lastName"
                      autocomplete="off"
                    />
                  </mat-form-field>
                </div>
              </div>
              <br />
              <div class="row">
                <div class="col-3">
                  <mat-form-field style="width: 100%">
                    <mat-label>Email</mat-label>
                    <input
                      matInput
                      formControlName="email"
                      autocomplete="off"
                    />
                  </mat-form-field>
                </div>
                <div class="col-3">
                  <mat-form-field style="width: 100%">
                    <mat-label>Street</mat-label>
                    <input
                      matInput
                      formControlName="street"
                      autocomplete="off"
                    />
                  </mat-form-field>
                </div>
                <div class="col-3">
                  <mat-form-field style="width: 100%">
                    <mat-label>Zip</mat-label>
                    <input matInput formControlName="zip" autocomplete="off" />
                  </mat-form-field>
                </div>
                <div class="col-3">
                  <div class="row">
                    <div class="col-12">
                      <button
                        mat-raised-button
                        (click)="getValue(customer.value.customerId)"
                        color="primary"
                      >
                        Save
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <br />
              <br />
              <!-- Orders List -->
              <div formArrayName="orders">
                <div
                  class="row"
                  *ngFor="
                    let order of customer.controls.orders.controls;
                    let j = index
                  "
                  formGroupName="{{ j }}"
                >
                  <div class="col-10">
                    <mat-expansion-panel>
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                          Order # {{ order.value.id }}
                        </mat-panel-title>
                        <mat-panel-description>
                          Order Id: {{ order.value.orderId }}
                          {{ order.value.orderStatus }}
                        </mat-panel-description>
                      </mat-expansion-panel-header>
                      <div class="row">
                        <div class="col-4">
                          <mat-form-field style="width: 100%">
                            <mat-label>Id</mat-label>
                            <input
                              matInput
                              formControlName="id"
                              autocomplete="off"
                            />
                          </mat-form-field>
                        </div>
                        <div class="col-4">
                          <mat-form-field style="width: 100%">
                            <mat-label>Order Id</mat-label>
                            <input
                              matInput
                              formControlName="orderId"
                              autocomplete="off"
                            />
                          </mat-form-field>
                        </div>
                        <div class="col-4">
                          <mat-form-field style="width: 100%">
                            <mat-label>Order Status</mat-label>
                            <input
                              matInput
                              formControlName="orderStatus"
                              autocomplete="off"
                            />
                          </mat-form-field>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-4">
                          <mat-form-field style="width: 100%">
                            <mat-label>Order Date</mat-label>
                            <input
                              matInput
                              formControlName="orderDate"
                              autocomplete="off"
                            />
                          </mat-form-field>
                        </div>
                        <div class="col-4">
                          <mat-form-field style="width: 100%">
                            <mat-label>Store Id</mat-label>
                            <input
                              matInput
                              formControlName="storeId"
                              autocomplete="off"
                            />
                          </mat-form-field>
                        </div>
                        <div class="col-4">
                          <mat-form-field style="width: 100%">
                            <mat-label>Customer Id</mat-label>
                            <input
                              matInput
                              formControlName="customerId"
                              autocomplete="off"
                            />
                          </mat-form-field>
                        </div>
                      </div>
                      <br />
                      <!-- Items Array  -->
                      <div formArrayName="items">
                        <div class="row">
                          <div class="col-12">
                            <mat-expansion-panel>
                              <mat-expansion-panel-header>
                                <mat-panel-title> Items</mat-panel-title>
                              </mat-expansion-panel-header>
                              <div
                                class="row"
                                *ngFor="
                                  let item of order.controls.items.controls;
                                  let k = index
                                "
                                formGroupName="{{ k }}"
                              >
                                <div class="col-10">
                                  <div class="row">
                                    <div class="col-2">
                                      <mat-form-field style="width: 100%">
                                        <mat-label>ID</mat-label>
                                        <input
                                          matInput
                                          formControlName="id"
                                          autocomplete="off"
                                        />
                                      </mat-form-field>
                                    </div>
                                    <div class="col-2">
                                      <mat-form-field style="width: 100%">
                                        <mat-label>Order Item ID</mat-label>
                                        <input
                                          matInput
                                          formControlName="orderItemsId"
                                          autocomplete="off"
                                        />
                                      </mat-form-field>
                                    </div>
                                    <div class="col-2">
                                      <mat-form-field style="width: 100%">
                                        <mat-label>Item</mat-label>
                                        <input
                                          matInput
                                          formControlName="item"
                                          autocomplete="off"
                                        />
                                      </mat-form-field>
                                    </div>
                                    <div class="col-2">
                                      <mat-form-field style="width: 100%">
                                        <mat-label>Quantity</mat-label>
                                        <input
                                          matInput
                                          formControlName="quantity"
                                          autocomplete="off"
                                        />
                                      </mat-form-field>
                                    </div>
                                    <div class="col-2">
                                      <mat-form-field style="width: 100%">
                                        <mat-label>Price</mat-label>
                                        <input
                                          matInput
                                          formControlName="price"
                                          autocomplete="off"
                                        />
                                      </mat-form-field>
                                    </div>
                                    <div class="col-2">
                                      <mat-form-field style="width: 100%">
                                        <mat-label>Order ID</mat-label>
                                        <input
                                          matInput
                                          formControlName="orderId"
                                          autocomplete="off"
                                        />
                                      </mat-form-field>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-1">
                                  <a (click)="addItem(i, j)"
                                    ><i
                                      class="fas fa-plus"
                                      style="color: green; cursor: pointer"
                                    ></i
                                  ></a>
                                </div>
                                <div class="col-1">
                                  <a (click)="delItem(i, j, k)"
                                    ><i
                                      class="fas fa-minus"
                                      style="color: red; cursor: pointer"
                                    ></i
                                  ></a>
                                </div>
                              </div>
                            </mat-expansion-panel>
                          </div>
                        </div>
                      </div>
                      <!-- Items Array  -->
                    </mat-expansion-panel>
                    <br />
                  </div>
                  <div class="col-1">
                    <a (click)="addOrder(i)"
                      ><i
                        class="fas fa-plus"
                        style="color: green; cursor: pointer"
                      ></i
                    ></a>
                  </div>
                  <div class="col-1">
                    <a (click)="delOrder(i, j)"
                      ><i
                        class="fas fa-minus"
                        style="color: red; cursor: pointer"
                      ></i
                    ></a>
                  </div>
                </div>
              </div>
              <!-- Orders List-->
            </mat-expansion-panel>
            <br />
          </mat-accordion>
        </div>
        <div class="col-2"></div>
      </div>
    </div>
  </div>
</form>
