<div class="container-fluid">
    <div class="row" style="">
      <div class="col-1"><a class="navbar-brand" href="#">Store</a></div>
      <div class="col-9"><input class="form-control" type="search" placeholder="Search" ></div>
      <div class="col-2 text-right">
        <a class="nav-item " href="#"><i class="fas fa-user"></i> Account</a> &nbsp;
        <a class="nav-item " href="#"><i class="fas fa-shopping-cart"></i></a>
      </div>
    </div>
    <div class="row" style="border-bottom-color: #205cff; border-bottom-width:5%;border-bottom-style: solid;">
      <div class="col-1"></div>
      <div class="col-10 text-center" style="font-size: 20px;">
        <a class="nav-item" href="#"> Electronics</a> &nbsp;
        <a class="nav-item" href="#"> Housing</a> &nbsp;
        <a class="nav-item" href="#"> Food</a> &nbsp; 
        <a class="nav-item" href="#"> Personal</a> &nbsp; 
        <a class="nav-item" href="#"> Housing</a> &nbsp; 
        <a class="nav-item" href="#"> Food</a> &nbsp; 
        <a class="nav-item" href="#"> Personal</a></div>
      <div class="col-1">
      </div>
    </div>
    <div class="row" > &nbsp;</div>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <mat-card style="height: 800px;">
                <div class="row">
                    <div class="col-1"></div>
                    <div class="col-10">
                        <mat-tab-group mat-align-tabs="">
                            <mat-tab label="Account" >
                                <br>
                                <div class="row" style="width: 100%;">
                                    <div class="col-6 " >
                                        First Name &nbsp;&nbsp;&nbsp;
                                        <mat-form-field appearance="fill" style="width: 70%;"><input matInput></mat-form-field>
                                        <br>
                                        Email &nbsp;
                                        <mat-form-field appearance="fill" style="width: 70%;"><input matInput></mat-form-field>
                                        <br>
                                        <mat-form-field style="width: 70%;"><mat-label>Password</mat-label><input matInput></mat-form-field>
                                        <br>
                                    </div>
                                    <div class="col-6 " >
                                        Last Name &nbsp;&nbsp;&nbsp;
                                        <mat-form-field appearance="fill" style="width: 70%;"><input matInput></mat-form-field>
                                        <br>
                                        Phone # &nbsp;
                                        <mat-form-field appearance="fill" style="width: 70%;"><input matInput></mat-form-field>
                                        <br>
                                        <mat-form-field  style="width: 70%;"><mat-label>Confirm Password</mat-label><input matInput></mat-form-field>
                                        <br>
                                    </div>
                                </div>
                            </mat-tab>
                            <mat-tab label="Security"> Security </mat-tab>
                            <mat-tab label="Logs"> Logs </mat-tab>
                        </mat-tab-group>  
                    </div>
                    <div class="col-1"></div>
                </div>
            </mat-card>
        </div>
        <div class="col-2"></div>
    </div>
</div>
